.myhead{
    position: absolute;
    height: 80px;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255,255,255,0.8));
    top: 0;
}
.mytail{
    position: absolute;
    height: 80px;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9));
    bottom: 0;
}
.mycontainer{
    top:20%;
    position: absolute;
    margin-left: 20%;
}